:root {
  --primary-color: #ff1aff;
  --secondary-color: #66ff33;
  --tertiary-color: #b3e0ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--tertiary-color);
}

a {
  text-decoration: none;
  color: #333333;
}

body {
  font-family: monospace, Garamond, serif;
  font-size: 20px;
  font-weight: 550;
}

/* start header/nav styles */

header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  flex-wrap: wrap;  
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--tertiary-color);
  z-index: 10;
}

header h1 {
  font-size: 40px;
  font-weight: bolder; 
}

header nav {
  margin: 10px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

header nav ul li a {
  margin: 0 40px;
  padding: 10px;
  border: 2px solid #0099ff;
  border-radius: 5px;
}

/* header/nav styles end */

/* about-me styles start */

.about-me img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

/* about-me styles end */

/* projects styles start */

.projects {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects img {
  height: 400px;
  width: auto;
}


/* projects styles end */

/* contact me styling start */

.contact {
  text-align: center;
  background-color: var(--tertiary-color);
}

.contact h2 {
  font-size: 40px;
  font-weight: bolder; 
  margin: 20px 0 20px 0;
}

.contact ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 10px 0 10px 0;
}

.contact ul li a {
  padding: 8px;
  border: 2px solid #0099ff;
  border-radius: 5px;
}

/* contact me styling end */

/* footer styling start */

footer {
  text-align: center;
  font-size: 12px;
  background-color: var(--tertiary-color);
}

footer img {
  max-width: 13%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #bfbfbf;
  margin-top: 10px;
  align-items: center;
}


/* footer styling end */

