:root {
  --primary-color: #ff1aff;
  --secondary-color: #0099ff;
  --tertiary-color: #b3e0ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-one {
  flex: 1;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: monospace, Garamond, serif;
  font-size: 20px;
  font-weight: 550;
  background-color: var(--tertiary-color);
}

/* start header/nav styles */

header {
  border-bottom: 2px solid var(--secondary-color);
  display: flex;
  padding: 20px;
  justify-content: space-between;
  flex-wrap: wrap;  
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--tertiary-color);
  z-index: 10;
}

header h1 {
  font-size: 40px;
  font-weight: bolder; 
}

header nav {
  margin: 10px 0;
}

header nav ul {
  gap: 10px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

header nav ul li {
display: block;
}

header nav ul li a {
  padding: 10px;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
}

/* header/nav styles end */

/* about-me styles start */

.about-me {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  border: 2px solid var(--secondary-color);
  border-radius: 15px;
  margin: 10px;
}

.about-me-body {
  display: flex;
  width: 100%;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-me h2 {
  margin: 10px 20px;
  font-size: 40px;
  font-weight: bolder;
}

.about-me p {
  margin: 5px;
  padding-left: 15px;
  border-left: 3px solid var(--secondary-color);
}

.about-me img {
  margin: 5px 10px;
  width: 200px;
  height: auto;
  border-radius: 10px;
}

/* about-me styles end */

/* projects styles start */

.projects {
  display: flex;
  border: 2px solid var(--secondary-color);
  border-radius: 15px;
  margin: 10px;
  border-right: 3px solid var(--secondary-color)
}

.projects-header {
  display: flex;
  flex-shrink: 0;
  flex-basis: 225px;
  align-items: center;
}

.projects h3 {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bolder; 
  margin: 20px;
  border-right: 3px solid var(--secondary-color);
  height: 95%;
  padding-right: 15px;
}

.projects-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-body-article {
  position: relative;
  margin: 5px;
}

.projects-body-article img {
  object-fit: cover;
  height: 400px;
  width: 100%;
  border-radius: 5px;
}

.projects-title {
position: absolute;
bottom: 5px;
left: 5px;
}

/* projects styles end */

/* contact me styling start */

.contact {
  text-align: center;
  background-color: var(--tertiary-color);
}

.contact h2 {
  font-size: 40px;
  font-weight: bolder; 
  margin: 20px 0 20px 0;
}

.contact ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 10px 0 10px 0;
}

.contact ul li a {
  padding: 8px;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
}

.linkedin-link {
display: block;
width: 200px;
}

.linkedin-image {
width: 100%;
}

/* contact me styling end */

/* footer styling start */

footer {
  text-align: center;
  font-size: 12px;
  background-color: var(--tertiary-color);
}

footer img {
  max-width: 13%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #bfbfbf;
  margin-top: 10px;
  align-items: center;
}


/* footer styling end */

/* media query start */

@media screen and (max-width: 979px) {
  .projects {
    flex-direction: column;
  }

  .projects-header {
    flex-basis: 100px;
  }

  .projects h3 {
    border-right: none;
    padding-right: 0;
    border-bottom: 3px solid var(--secondary-color);
    padding-bottom: 15px;
  }

}
